#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#page-wrap {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 0 20px black;
    margin: 50px auto;
    padding: 20px;
    position: relative;
    /*width: 400px;*/
    z-index: 2;
}

.accordion button {
    width: 100%;
    display: block;
}

.ninety-eight-wide {
    width: 98px;
}

.seventy-percent {
    width: 70%;
}

.btn-file {
    position: relative;
    overflow: hidden;
} 
 
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.red {
    color: red;
}

.down-40 {
    margin-top: 40px;
}

.over-30 {
    margin-right: 30px;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    /*background-color: black;
    background-image: url('images/keep-calm-and-come-to-the-dupaco-garage-sale.png');
    background-repeat: no-repeat;*/
    height:100%;
}

.table-scrollable{
    overflow: auto;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles for the search page
-----------------------------------------------------------*/

#map-canvas { 
    height: 100%; 
    width: 100%
}