@{
    ViewBag.Title = "View your account info";
    Layout = "~/Views/Shared/_GarageSaleLayout.cshtml";
}

<div id="page-wrap" class="jumbotron" style="min-height:500px;">
    <div class="container">
        <div class="row" style="margin-bottom:40px;">
            <h2>Add a new garage sale!</h2>
        </div>

    </div>
</div>

