@{
    ViewBag.Title = "Garage Sale Not Found!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div role="alert" class="alert alert-danger fade in">
        <h4>Ooops! Sorry!</h4>
        <p>There was no garage sale found at that address!</p><br />
        <p>
            <a href="~/Home" class="btn btn-default">Go back to the home page</a>
        </p>
    </div>
</div>