@model DupacoGarageSale.Web.Models.GarageSaleViewModel

@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Search garage sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var serializer = new JavaScriptSerializer();
}

<div id="page-wrap" class="jumbotron" style="min-height:450px;width:100%">
    <div class="container">
        <div class="row" style="margin-bottom:10px;">
            <h2><a href="~/Home" style="text-decoration:none;">Home / </a>Search the garage sales</h2><br />            
        </div>
        <div>    
            @Html.Partial("_SearchBar")
        </div>   
        <div class="down-70">
            @Html.Partial("_SearchResults", Model)
        </div>
    </div>
</div>