@{
    ViewBag.Title = "Contact Dupaco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = ViewBag.Message;  
}

<div class="container" style="min-height:600px;">

    <div>
        <img src="~/Content/images/garagesale.gif" alt="dupaco garage sales!" class="down_30" />
    </div><br />

    <h1>@message</h1>

    <h2>Click <a href="~/Home/Index">here</a> to go back to the home page.</h2>
</div>
