@model DupacoGarageSale.Web.Models.AdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="~/Admin/Index">Overview
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="active">
                    <a href="~/Admin/Users" id="linkUsers">Garage Sale Users</a>
                </li>
                <li>
                    <a href="~/Admin/GarageSales">Garage Sales</a>
                </li>
                <li>
                    <a href="~/Admin/GarageSaleItems">Garage Sale Items</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Garage Sale Users</h1>
            <form class="form-inline" action="SearchUsers">
                <div class="form-group">
                    <input type="text" id="txtSearchUsers" class="form-control" style="width:300px;" placeholder="Search..." /> 
                    
                </div>
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>
</div>