@model DupacoGarageSale.Data.Domain.AuthenticationInfo

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="page-wrap" class="jumbotron" style="min-height:500px;">
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter a valid user name and password
                </div>
            </div>            
            <div class="col-md-3"></div>
        </div>
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "form-signin", @role = "form" }))
                {
                    <h2 class="form-signin-heading">Please sign in</h2><br />
                    <label for="txtUserName">User name</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control seventy-percent", id="txtUserName", placeholder="User name", required="", autofocus="" })<br />
                    
                    <label for="txtPassword">Password</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id="txtPassword", type="Password", placeholder="Password", required="" })
                    <div class="checkbox invisible">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                }
            </div>
            <div class="col-md-5"></div>
        </div>       
    </div>
</div>
