@{
    ViewBag.Title = "Password reset request processed";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="page-wrap" class="jumbotron" style="min-height:200px;">
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <p class="lead">@ViewBag.Title. Click <a href="~/Home">here</a> to go to the Dupaco Garage Sale home page.</p>
        </div>
    </div>
</div>