
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    padding: 0;
}
table {
}
ol, ul {
    font-size: 14px;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
html {
    font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="search"] {
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
#skip a, #skip a:link, #skip a:hover, #skip a:visited {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -500px;
    width: 1px;
}
#skip a:active, #skip a:focus {
    color: #333333;
    height: auto;
    position: static;
    width: auto;
}
body {
    background: none repeat scroll 0 0 #ffffff;
    line-height: normal;
    margin: 0;
    position: relative;
    z-index: 0;
}
p {
    margin-top: 0;
}
section, article, header, footer, nav, aside, hgroup {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    line-height: 40px;
    margin: 0 0 10px;
}
h2 {
    margin: 0 0 10px;
}
h3 {
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
h6 {
    margin: 0;
}
/*A:link {
    color: #498fcc;
    text-decoration: underline;
}
A:visited {
    color: #498fcc;
}
A:hover {
    color: #498fcc;
    text-decoration: none;
}
A:active {
    color: #498fcc;
    text-decoration: none;
}*/
sup {
    font-size: 60%;
}
.red, .required {
    color: #990000;
}
.black {
    color: #000;
}
.large {
    font-size: 15px;
}
.small {
    font-size: 12px;
}
.xtra-small {
    font-size: 11px;
}
.tiny {
    font-size: 10px;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.sm {
    font-size: 12px;
}
.tiny {
    font-size: 10.5px;
}
.med {
    font-size: 14px;
}
.lrg {
    font-size: 18px;
}
.center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.rule {
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 15px;
}
.topborder {
    border-top: 1px solid #acc0c7;
    margin-top: 5px;
    padding-top: 10px;
}
.bottomborder {
    border-bottom: 1px solid #acc0c7;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.hide, .hidediv {
    display: none;
}
.show {
    display: block;
}
.pointer {
    cursor: pointer;
}
div.quickmenu {
    background-color: #626262;
    background-image: url("/img/quickmenu_title.png");
    background-position: 3% 6%;
    background-repeat: no-repeat;
    float: left;
    margin: 0 0 20px;
    padding-top: 50px;
    width: 100%;
}
div.quickmenu ul {
    float: left;
    margin: 0 0 10px 10px;
    padding: 0;
}
div.quickmenu ul.first {
    width: 47%;
}
div.quickmenu ul.last {
    width: 40%;
}
div.quickmenu ul li {
    background-position: left 50%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    list-style: outside none none;
    padding: 7px 0 7px 22px;
}
div.quickmenu ul li a {
    color: #fff;
    text-decoration: none;
}
div.quickmenu ul li a:hover {
    text-decoration: underline;
}
div.quickmenu ul li.account {
    background-image: url("/img/quickmenu_account.png");
}
div.quickmenu ul li.apply {
    background-image: url("/img/quickmenu_loan.png");
}
div.quickmenu ul li.home {
    background-image: url("/img/quickmenu_home.png");
}
div.quickmenu ul li.join {
    background-image: url("/img/quickmenu_join.png");
}
div.quickmenu ul li.find {
    background-image: url("/img/quickmenu_find.png");
}
div.quickmenu ul li.contact {
    background-image: url("/img/quickmenu_contact.png");
}
div.quickmenu ul li.open-account {
    background-image: url("/img/quickmenu_openaccount.png");
}
div.quickmenu ul li.view-rates {
    background-image: url("/img/quickmenu_viewrates.png");
}
div.quickmenu ul li.quote {
    background-image: url("/img/quickmenu_quote.png");
}
div.quickmenu ul li.portfolio {
    background-image: url("/img/quickmenu_portfolio.png");
}
div.quickmenu ul li.portfolio {
}
div.quickmenu ul li.plan {
    background-image: url("/img/quickmenu_plan.png");
}
div.quickmenu ul li.learn {
    background-image: url("/img/quickmenu_learnira.png");
}
.footer_tweet {
    background-image: url("/img/foot_tweet_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    border: 1px solid #777;
    box-shadow: 0 0 2px #444;
    height: 143px;
    margin: 10px;
    width: 380px;
}
div.social_icons {
    float: right;
    margin: 20px 10px 0 0;
}
div.social_icons img {
    float: left;
}
div.social_icons img.twitter {
    margin-right: 10px;
}
div.social_icons img.facebook {
}
div.social_icons h3 {
    color: #2d4e6b;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 8px 5px 12px 0;
}
div.twtr-doc div.twtr-hd {
    height: 0;
    margin: 0;
    padding: 0;
}
.twtr-widget h3 {
    position: relative;
    right: -99999em;
}
.twtr-hd h4 {
}
div#twtr-widget-1 .twtr-tweet-text {
    margin-left: 0;
    padding: 0;
}
.twtr-tweet-text p {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
}
a.twtr-user {
    font-weight: bold;
}
div.twtr-tweet {
    height: 70px !important;
}
div.twtr-tweet-wrap {
    padding: 6px 6px 6px 0;
}
div.twtr-tweet-wrap div.twtr-avatar {
    height: 0;
    width: 0;
}
div.twtr-join-conv {
    display: none;
    visibility: hidden;
}
.twtr-ft {
    display: none;
    visibility: hidden;
}
.twtr-timeline {
    background: none repeat scroll 0 0 transparent !important;
    height: 65px !important;
}
.twtr-doc {
    float: right;
    margin: 15px 20px 0 0;
}
.twtr-profile-img {
    display: none !important;
}
.twtr-widget h3 {
    position: relative;
    right: -99999em;
}
.twtr-hd h4 {
    display: none !important;
}
.email_link {
    background-image: url("/img/icon_email.gif");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    height: 26px;
    padding: 2px 2px 2px 18px;
    text-align: left;
    width: 140px;
}
.forsale_link {
    background-image: url("/img/icon_forsale.gif");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    font-weight: bold;
    height: 26px;
    padding: 2px 2px 2px 18px;
    text-align: left;
    width: 145px;
}
div.forsale {
    background-color: #eeefea;
    background-image: url("/img/subnav_bg_blue.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: 1px solid #535353;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 5px;
    text-align: left;
    width: 215px;
}
div.forsale_title_text {
    border-bottom: 1px solid #7b7b7b;
    color: #535353;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px 0;
}
ul.forsalelist {
    font-size: 13px;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 180px;
}
ul.forsalelist li a {
    color: #535353;
}
ul.forsalelist li a:link {
    text-decoration: underline;
}
ul.forsalelist li a:visited {
    text-decoration: underline;
}
ul.forsalelist li a:hover {
    text-decoration: none;
}
ul.forsalelist li a:active {
    text-decoration: underline;
}
ul.forsalelist li.list {
    font-size: 14px;
    margin-bottom: 6px;
}
ul.forsalelist li.list_on {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}
div.news_div {
    margin: 0;
    padding: 0;
}
div.news_cat_title {
    border-bottom: 1px dotted #cacaca;
    color: #00508c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
div.news_item {
    border-bottom: 1px dotted #cacaca;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
div.news_title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}
div.news_title a:link {
    color: #00508c;
    text-decoration: underline;
}
div.news_title a:visited {
    color: #00508c;
    text-decoration: underline;
}
div.news_title a:hover {
    color: #d91f27;
    text-decoration: none;
}
div.news_title a:active {
    color: #d91f27;
    text-decoration: none;
}
.news_date {
    font-size: 11px;
    font-style: normal;
}
table.news_article {
    min-width: 600px;
}
table.news_article td {
    padding: 5px;
}
.news_headline {
    border-bottom: 1px dotted #cacaca;
    color: #00508c;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 20px;
}
div.news_content {
    color: #444c53;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 0 20px;
}
ul.newsitems {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.seminar_name {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}
div.seminar_wrapper {
}
div.seminar_wrapper div.sem_signup_link {
    float: right;
}
div.seminar_wrapper header {
    padding: 10px 0;
}
div.seminar_wrapper h4 {
    display: inline;
}
div.seminar_wrapper div.sem_signup_link ul {
    display: inline;
    margin: 5px 0;
    padding: 0;
}
div.seminar_wrapper div.sem_signup_link ul li {
    display: inline;
    float: right;
    font-size: 9px;
    font-weight: normal;
    margin: 0;
    padding: 0 2px;
}
div.seminar_wrapper div.sem_signup_link ul li a {
    background-position: left top;
    background-repeat: no-repeat;
    color: #005e7d;
    height: 15px;
    margin: 3px 0 0;
    padding: 0 9px 3px 15px;
    text-decoration: none;
}
div.seminar_wrapper div.sem_signup_link ul li a:link, div.seminar_wrapper div.sem_signup_link ul li a:visited {
}
div.seminar_wrapper div.sem_signup_link ul li a:hover, div.seminar_wrapper div.sem_signup_link ul li a:active {
    background-position: 0 -17px;
}
div.seminar_wrapper div.sem_signup_link ul li a.signup {
    background-image: url("/img/social_button_bg_signup.png");
}
div.edu_category_insert {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 8px;
}
div.edu_topic_content {
    margin: 8px;
}
h4.edu_cat_title {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
select.edu_topic_select {
    font-size: 12px;
    width: 300px;
}
.gthead {
    background-color: #535353;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
    border-top: 1px solid #313131;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 7px;
    width: 248px;
}
.gtbody {
    background-color: #eeefea;
    border-bottom: 1px solid #313131;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 5px 5px 7px;
    width: 250px;
}
.gt {
    border-bottom: 1px dashed #313131;
    padding: 0 2px;
}
div.cluetip ul {
    margin: 0;
    padding: 0 0 0 10px;
}
div.cluetip ul ul {
    margin: 0;
    padding: 0 0 0 18px;
}
div.cluetip ul ul ul {
    margin: 0;
    padding: 0 0 0 24px;
}
div.cluetip h3 {
    font-size: 18px;
    font-weight: bold;
}
.errormsg {
    color: #b22222;
    padding: 10px;
    text-align: center;
}
#cluetip-close img {
    border: 0 none;
}
#cluetip-title {
    overflow: hidden;
}
#cluetip-title #cluetip-close {
    float: right;
    position: relative;
}
#cluetip-waitimage {
    background-image: url("img/wait.gif");
    height: 11px;
    position: absolute;
    width: 43px;
}
.cluetip-arrows {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: none;
    height: 22px;
    left: -11px;
    position: absolute;
    top: 0;
    width: 11px;
}
#cluetip-extra {
    display: none;
}
.cluetip-default {
    background-color: #eeefea;
    font-size: 12px;
}
.cluetip-default #cluetip-outer {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    margin: 0;
    position: relative;
}
.cluetip-default h3#cluetip-title {
    background-color: #dddddd;
    border-bottom: 1px solid #c0c0c0;
    color: #4e4e4e;
    font-size: 9px;
    font-weight: normal;
    margin: 0;
    padding: 3px 5px 1px;
}
.cluetip-default #cluetip-title a {
    color: #4e4e4e;
}
.cluetip-default #cluetip-inner {
    color: rgb(51, 51, 51);
    padding: 7px 10px 18px 17px;
}
.cluetip-default div#cluetip-close {
    color: #900;
    margin: 0 5px 5px;
    text-align: right;
}
.clue-right-default .cluetip-arrows {
    background-image: url("/Content/images/shim.gif");
}
.clue-left-default .cluetip-arrows {
    background-image: url("/Content/images/shim.gif");
    left: 100%;
    margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
    background-image: url("/Content/images/shim.gif");
    left: 50%;
    margin-left: -11px;
    top: 100%;
}
.clue-bottom-default .cluetip-arrows {
    background-image: url("/Content/images/shim.gif");
    left: 50%;
    margin-left: -11px;
    top: -11px;
}
.cluetip-jtip {
    background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
    background-color: #fff;
    border: 2px solid #ccc;
    position: relative;
}
.cluetip-jtip h3#cluetip-title {
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 2px 5px;
}
.cluetip-jtip #cluetip-inner {
    display: inline-block;
    padding: 0 5px 5px;
}
.cluetip-jtip div#cluetip-close {
    color: #900;
    margin: 0 5px 5px;
    text-align: right;
}
.clue-right-jtip .cluetip-arrows {
    background-image: url("img/arrowleft.gif");
}
.clue-left-jtip .cluetip-arrows {
    background-image: url("img/arrowright.gif");
    left: 100%;
    margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
    background-image: url("img/arrowdown.gif");
    height: 11px;
    left: 50%;
    margin-left: -11px;
    top: 100%;
    width: 22px;
}
.clue-bottom-jtip .cluetip-arrows {
    background-image: url("img/arrowup.gif");
    height: 11px;
    left: 50%;
    margin-left: -11px;
    top: -11px;
    width: 22px;
}
.cluetip-rounded {
    background: url("img/bl.gif") no-repeat scroll 0 100% transparent;
    margin-left: 12px;
    margin-top: 10px;
}
.cluetip-rounded #cluetip-outer {
    background: url("img/tl.gif") no-repeat scroll 0 0 transparent;
    margin-top: -12px;
}
.cluetip-rounded #cluetip-title {
    background-color: transparent;
    margin: 0 -12px 0 0;
    padding: 12px 12px 0;
    position: relative;
}
.cluetip-rounded #cluetip-extra {
    background: url("img/tr.gif") no-repeat scroll 100% 0 transparent;
    display: block;
    height: 30px;
    margin: -12px -12px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
}
.cluetip-rounded #cluetip-inner {
    background: url("img/br.gif") no-repeat scroll 100% 100% rgba(0, 0, 0, 0);
    margin: -18px -12px 0 0;
    padding: 5px 12px 12px;
    position: relative;
}
.cluetip-rounded div#cluetip-close {
    background: none repeat scroll 0 0 transparent;
    color: #009;
    margin: 0 5px 5px;
    text-align: right;
}
.cluetip-rounded div#cluetip-close a {
    color: #777;
}
.clue-right-rounded .cluetip-arrows {
    background-image: url("img/rarrowleft.gif");
}
.clue-left-rounded .cluetip-arrows {
    background-image: url("img/rarrowright.gif");
    left: 100%;
    margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
    background-image: url("img/rarrowdown.gif");
    height: 11px;
    left: 50%;
    margin-left: -11px;
    top: 100%;
    width: 22px;
}
.clue-bottom-rounded .cluetip-arrows {
    background-image: url("img/rarrowup.gif");
    height: 11px;
    left: 50%;
    margin-left: -11px;
    top: -23px;
    width: 22px;
}
.cluetip-rounded #cluetip-title, .cluetip-rounded #cluetip-inner {
}
.JQGlossary {
    border-bottom: 1px dotted #adb2b9;
    text-decoration: none;
}
span.glossary a:link {
    text-decoration: none;
}
span.glossary a:visited {
    text-decoration: none;
}
span.glossary a:hover {
    text-decoration: none;
}
span.glossary a:active {
    text-decoration: none;
}
h3.cluetip-title {
    padding: 2px 5px 2px 0;
}
.faq_category {
    margin: 10px;
}
.faq_category_name {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
}
div.slider_content {
    padding-left: 13px;
}
.JQSlider {
}
faq_icon {
}
.gallery_container {
    background-color: #ffffff;
    padding: 40px;
}
.speedbump_wrapper {
    text-align: center;
}
.speedbump_wrapper span.title5 {
    color: #6b6b6b;
    font-size: 14px;
    font-weight: bold;
}
.speedbump_wrapper span.subtitle1 {
    font-size: 12px;
    font-weight: bold;
}
table.surveygrid td {
    border: 1px solid #f1f2f3;
}
.survey_name {
    color: #6a6a6a;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
}
.survey_cat {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}
.label {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.form_element {
    font-size: 10px;
    font-weight: normal;
    height: 14px;
    padding: 2px 4px 1px;
    width: 165px;
}
.submit1 {
}
.wrapper-survey {
}
.wrapper-survey h2 {
    font-size: 30px;
    margin: 0 0 10px;
    padding: 0 0 5px;
}
.wrapper-survey h5 {
    color: #55aed0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.wrapper-survey div.left {
    width: 42%;
}
.wrapper-survey div.right {
    width: 57%;
}
.survey-set {
    border-top: 1px solid #55aed0;
    margin: 10px 5px 15px 0;
    padding-top: 15px;
}
div#PollFormDiv h2 {
    border-bottom: 1px solid #55aed0;
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
div#PollFormDiv h5 {
    color: #55aed0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
}
div#PollFormDiv input[type="submit"] {
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}
ul.sitemaplist {
    list-style-type: none;
    margin: 2px 0 10px;
    padding: 0;
}
ul.sitemaplist li.sitemap_2 {
    font-size: 99%;
    font-weight: bold;
    margin: 0;
}
ul.sitemaplist li.sitemap_2 a {
    color: #313131;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-top: 16px;
    padding-left: 0;
}
ul.sitemaplist li.sitemap_3 {
    font-size: 97%;
    font-weight: bold;
    margin: 0 0 0 10px;
}
ul.sitemaplist li.sitemap_3 a {
    color: #4e4e4e;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 5px;
}
ul.sitemaplist li.sitemap_4 {
    font-size: 95%;
    margin: 0 0 0 15px;
}
ul.sitemaplist li.sitemap_4 a {
    color: #333;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 14px;
    margin-top: 3px;
    padding-left: 10px;
}
ul.sitemaplist li.sitemap_5 {
    font-size: 92%;
    margin: 0 0 0 20px;
}
ul.sitemaplist li.sitemap_5 a {
    color: #333;
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-top: 3px;
    padding-left: 15px;
}
ul.sitemaplist li.sitemap_6 {
    margin: 0 0 0 25px;
}
ul.sitemaplist li.sitemap_6 a {
    color: #333;
    font-size: 10px;
    margin-bottom: 8px;
    margin-left: 18px;
    margin-top: 3px;
    padding-left: 20px;
}
ul.sitemaplist li.sitemap_7 {
    margin: 0 0 0 30px;
}
ul.sitemaplist li.sitemap_7 a {
    color: #333;
    font-size: 10px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-top: 3px;
    padding-left: 25px;
}
.faq_category {
}
.faq_category_name {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}
div.slider_content {
    padding-left: 20px;
    padding-top: 5px;
}
.JQSlider {
    padding-left: 10px;
}
.faq_icon {
}
div.JQSlider_parent {
    clear: both;
    padding: 20px 0 0;
}
A[href^="mailto:"] {
    background: url("icons/icon_mailto.gif") no-repeat scroll left top transparent;
    padding-left: 22px;
}
ul.subnavlist li A, div.promo A, div.home_promo1 A, div.home_promo2 A, div.home_promo3 A div#fadingbanners A {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 !important;
}
.imageLink {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding: 0;
}
.ajaxInProgress_wrapper {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.ajaxInProgress_wrapper .ajaxInProgess {
    background-color: #333;
    background-image: url("/img/wait3.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.75;
    position: fixed;
    width: 100%;
}
