<input id="hdnSaveMessage" type="hidden" value="@ViewBag.Invisible" />
<div class="alert alert-danger" role="alert" id="divSaveMessage" style="width:40%;">
    <strong>Oh no!</strong>
    There was a problem deleting your item.
</div>